import(tmap)
import(spdep)
import(sf)
import(Matrix)
import(biclust)
importFrom(robustHD, standardize)
importFrom(stringr, str_replace_all)

export(local_moran,local_moran_sims,local_moran_pvalue)
export(local_geary,local_geary_sims,local_geary_pvalue)
export(local_g,local_g_sims,local_g_pvalue)
export(local_jc,local_jc_sims,local_jc_pvalue)
export(moran_map)
export(geary_map)
export(g_map)
export(jc_map)
export(significance_map)
