import(tmap)
import(sf)
import(RColorBrewer)
import(rgeoda)
import(tidyverse)
export(moran_map)
export(geary_map)
export(g_map)
export(gstar_map)
export(joincount_map)
export(multi_joincount_map)
export(multi_geary_map)
export(significance_map)
